/Scorpio/obj
/Scorpio/bin
/ScorpioDemo/obj
/ScorpioLibrary/bin
/ScorpioLibrary/obj
/ScorpioMaker/obj
/ScorpioReflect/bin
/ScorpioReflect/obj
/.vs
/ScorpioExec/obj
/ScorpioExec/bin
/ScorpioDemo/bin
/bin/*.pdb
/bin/ScorpioDemo.exe.config
/bin
/ScorpioTest/Assembly-CSharp.csproj
/ScorpioTest/Assembly-CSharp-Editor.csproj
/ScorpioTest/ScorpioTest.sln
/ScorpioTest/Library
/ScorpioTest/obj
/ScorpioTest/Temp
*.meta
/Scorpio/Scorpio.csproj.user
/ScorpioExec/*.user
/ScorpioExec/ScorpioClass_ScorpioExec_TestClass.cs
/ScorpioExec/ScorpioClass_ScorpioExec_TestStruct.cs
/ScorpioExec/ScorpioInterface_ScorpioExec_TestInterface.cs
/ScorpioExec/test.il
/ScorpioExec/DelegateFactory.cs
